In [6]:
import datafaucet as dfc
from dask import dataframe as dd

import pandas as pd

In [16]:
ddf = dfc.range(1000)

Dask DataFrame Structure:
                  id
npartitions=8
0              int64
125              ...
...              ...
875              ...
999              ...
Dask Name: from_pandas, 8 tasks

In [3]:
ddf.datafaucet()

AttributeError: module 'datafaucet' has no attribute 'datafaucet'

In [5]:
pd = dfc.engine('dask')

created DaskEngine
Init engine "dask"
Setting context to dask.
Engine context dask:2.8.0 successfully started

In [9]:
import pandas as pd

In [5]:
import dask
import pyspark
import pandas

In [8]:
dask.system.cpu_count()

8

In [7]:
from dask.distributed import Client
client = Client()

In [27]:
ddf = dd.from_pandas(pd.DataFrame({'id':range(100_000_000)}), npartitions=32)
ddf['g'] = ddf['id'] % 128
ddf['x'] = ddf['id'] * 2
ddf['y'] = ddf['id'] / ddf['g']

In [33]:
ddf.get_partition(4).head(10)

                id   g         x              y
12500000  12500000  32  25000000  390625.000000
12500001  12500001  33  25000002  378787.909091
12500002  12500002  34  25000004  367647.117647
12500003  12500003  35  25000006  357142.942857
12500004  12500004  36  25000008  347222.333333
12500005  12500005  37  25000010  337837.972973
12500006  12500006  38  25000012  328947.526316
12500007  12500007  39  25000014  320513.000000
12500008  12500008  40  25000016  312500.200000
12500009  12500009  41  25000018  304878.268293

In [38]:
%%time
ddf.groupby('g').agg(aaa=('x',lambda s: s.nlargest(5))).compute()

TypeError: agg() got an unexpected keyword argument 'aaa'